*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(get.jfif);
    margin: 0;
    height: 100vh;
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
}
.img{
    background-size: 0;
}
ul{
   display: flex; 
   list-style: none;
   gap: 40px;
}
header{
    display: flex;
    justify-content: space-between;
}
li a{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
li a img{
    width: 24px;
    height: 24px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(140%) hue-rotate(8deg) brightness(108%) contrast(101%);
    text-align: center;
}
